<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
 <!-- Begin page -->
 <div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="17">
                <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light"
                    height="17">
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{'active':currentSection === 'hero'}" [ngxScrollTo]="'#hero'" href="javascript:void(0);">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}" [ngxScrollTo]="'#services'" href="javascript:void(0);">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'features'}" [ngxScrollTo]="'#features'" href="javascript:void(0);">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'plans'}" [ngxScrollTo]="'#plans'" href="javascript:void(0);">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'reviews'}" [ngxScrollTo]="'#reviews'" href="javascript:void(0);">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'team'}" [ngxScrollTo]="'#team'" href="javascript:void(0);">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'contact'}" [ngxScrollTo]="'#contact'" href="javascript:void(0);">Contact</a>
                    </li>
                </ul>

                <div class="">
                    <a routerLink="/signin/basic" class="btn btn-link fw-medium text-decoration-none text-dark">Sign
                        in</a>
                    <a routerLink="/signup/basic" class="btn btn-primary">Sign Up</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- end navbar -->

    <!-- start hero section -->
    <section class="section pb-0 hero-section" id="hero">
        <div class="bg-overlay bg-overlay-pattern"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-10">
                    <div class="text-center mt-lg-5 pt-5">
                        <h1 class="display-6 fw-semibold mb-3 lh-base">The better way to manage your website with <span
                                class="text-primary">Velzon </span></h1>
                        <p class="lead text-muted lh-base">Velzon is a fully responsive, multipurpose and premium Bootstrap 5 Admin & Dashboard Template built in multiple frameworks.</p>

                        <div class="d-flex gap-2 justify-content-center mt-4">
                            <a routerLink="/signup/basic" class="btn btn-primary">Get Started <i class="ri-arrow-right-line align-middle ms-1"></i></a>
                            <a routerLink="/pages/pricing" class="btn btn-soft-primary">View Plans <i class="ri-eye-line align-middle ms-1"></i></a>
                        </div>
                    </div>

                    <div class="mt-4 mt-sm-5 pt-sm-5 mb-sm-n5 demo-carousel">
                        <div class="demo-img-patten-top d-none d-sm-block">
                            <img src="assets/images/landing/img-pattern.png" class="d-block img-fluid" alt="...">
                        </div>
                        <div class="demo-img-patten-bottom d-none d-sm-block">
                            <img src="assets/images/landing/img-pattern.png" class="d-block img-fluid" alt="...">
                        </div>
                        <div class="">
                            <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" class="carousel-inner shadow-lg p-2 bg-white rounded">
                                <ng-template ngbSlide>
                                <img src="assets/images/demos/default.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                <img src="assets/images/demos/saas.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/images/demos/material.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/images/demos/minimal.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/images/demos/creative.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/images/demos/modern.png" class="d-block w-100" alt="...">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="assets/images/demos/interactive.png" class="d-block w-100" alt="...">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
        <div class="position-absolute start-0 end-0 bottom-0 hero-shape-svg">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <g mask="url(&quot;#SvgjsMask1003&quot;)" fill="none">
                    <path d="M 0,118 C 288,98.6 1152,40.4 1440,21L1440 140L0 140z">
                    </path>
                </g>
            </svg>
        </div>
        <!-- end shape -->
    </section>
    <!-- end hero section -->

<app-client-logo></app-client-logo>
<app-services></app-services>
<app-collection></app-collection>
<app-cta></app-cta>
<app-designed></app-designed>
<app-plan></app-plan>
<app-faqs></app-faqs>
<app-review></app-review>
<app-counter></app-counter>
<app-work-process></app-work-process>
<app-team></app-team>
<app-contact></app-contact>
<app-cta></app-cta>
<app-footer></app-footer>

<!--start back-to-top-->
<button (click)="topFunction()" class="btn btn-primary btn-icon landing-back-top" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->
</div>

</div>