<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Editors" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header align-items-center d-flex">
              <h4 class="card-title mb-0">Ckeditor Classic Editor</h4>
          </div><!-- end card header -->

          <div class="card-body">
          <p class="text-muted">Use <code>ckeditor-classic</code> class to set ckeditor classic editor.</p>
          <ckeditor [editor]="Editor" data=""></ckeditor>
          </div><!-- end card-body -->
      </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->
