<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Pickers" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title mb-0">Flatpickr - Datepicker</h4>
          </div><!-- end card header -->

          <div class="card-body">
              <form action="#">
                  <div class="row gy-3">
                      <div class="col-lg-6">
                          <div>
                              <label class="form-label mb-0">Basic</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-lg-6">
                          <div>
                              <label class="form-label mb-0">DateTime</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d.m.y" data-enable-time</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [enableTime]="true" [convertModelValue]="true" [dateFormat]="'Y-m-d H:i'">
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Human-Friendly Dates</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-altFormat="F j, Y"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" altFormat="F j, Y" dateFormat="Y-m-d">
                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">MinDate and MaxDate</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-minDate="Your Min. Date" data-maxDate="Your Max. date"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" altFormat="F j, Y" dateFormat="Y-m-d">
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Default Date</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-deafult-date="Your Default Date"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" altFormat="F j, Y" dateFormat="Y-m-d">

                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Disabling Dates</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-disable="true"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" altFormat="F j, Y" dateFormat="Y-m-d">
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->

                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Selecting Multiple Dates</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-multiple-date="true"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" id="example-week-input"
                                    mwlFlatpickr [altInput]="true" [convertModelValue]="true" mode="multiple">
                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Range</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                                    [convertModelValue]="true" mode="range">
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->

                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mt-3">
                              <label class="form-label mb-0">Inline</label>
                              <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-deafult-date="today" data-inline-date="true"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" [inline]="true">
                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-lg-6">
                        <div class="mt-3">
                            <label class="form-label mb-0">Week Numbers</label>
                            <p class="text-muted">Set <code>data-provider="flatpickr" data-date-format="d M, Y" data-week-number</code> attribute.</p>
                            <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-week-number mwlFlatpickr [altInput]="true" [convertModelValue]="true">
                        </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->

              </form><!-- end form -->
          </div><!-- end card-body -->
      </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title mb-0">Flatpickr - Timepicker</h4>
          </div><!-- end card header -->

          <div class="card-body">
              <form action="#">
                  <div class="row gy-3">
                      <div class="col-lg-6">
                          <div>
                              <label class="form-label mb-0">Timepicker</label>
                              <p class="text-muted">Set <code>data-provider="timepickr" data-time-basic="true"</code> attribute.</p>
                              <input class="form-control flatpickr-input" type="text" mwlFlatpickr
                                        [noCalendar]="true" [enableTime]="true" [dateFormat]="'H:i'">
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->
              </form><!-- end form -->
          </div><!-- end card-body -->
      </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title mb-0">Colorpicker</h4>
          </div><!-- end card header -->

          <div class="card-body">
              <div>

                  <div>
                      <h5 class="fs-14 mb-3">Themes</h5>
                      <div class="row g-4">
                          <div class="col-lg-4 col-md-6">
                              <div>
                                  <h5 class="fs-13 text-muted mb-2">Classic Demo</h5>
                                  <p class="text-muted">Use <code>classic-colorpicker</code> class to set classic colorpicker.</p>
                                  <div class="color_picker avatar-xs d-block">
                                    <span class="input-group-text colorpicker-input-addon w-100 h-100 rounded-circle"
                                        [style.background]="componentcolor" [(colorPicker)]="componentcolor"
                                        [cpPosition]="'bottom'"><i></i></span>
                                  </div>
                              </div>
                          </div><!-- end col -->
                          <div class="col-lg-4 col-md-6">
                              <div>
                                  <h5 class="fs-13 text-muted mb-2">Monolith Demo</h5>
                                  <p class="text-muted">Use <code>monolith-colorpicker</code> class to set monolith colorpicker.</p>
                                  <div class="color_picker avatar-xs d-block">
                                    <span class="input-group-text colorpicker-input-addon w-100 h-100 rounded-circle"
                                        id="colorpicker-showpaletteonly" [style.background]="monolith"
                                        [(colorPicker)]="monolith" [cpPosition]="'bottom'"
                                        [cpPresetColors]="['#fff','#000','#2889e9','#e920e9','#fff500','rgb(236,64,64)']"></span>
                                  </div>
                              </div>
                          </div><!-- end col -->
                          <div class="col-lg-4 col-md-6">
                              <div>
                                  <h5 class="fs-13 text-muted mb-2">Nano Demo</h5>
                                  <p class="text-muted">Use <code>nano-colorpicker</code> class to set nano colorpicker.</p>
                                  <div class="color_picker avatar-xs d-block">
                                    <span class="input-group-text colorpicker-input-addon w-100 h-100 rounded-circle"
                                        id="colorpicker-showpaletteonly" [style.background]="nano"
                                        [(colorPicker)]="nano" [cpPosition]="'bottom'" [cpDisableInput]="true"></span>
                                  </div>
                              </div>
                          </div><!-- end col -->
                      </div><!-- end row -->
                  </div>
              </div>
              <!-- end preview -->
          </div><!-- end card-body -->
      </div><!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->
